################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Investz/Investz/obj
/Investz/Investz/bin/Debug/net5.0
/Investz/.vs/Investz/v16
/.vs/Investz/v16
/.vs
/Investz/.vs/Investz/DesignTimeBuild
/Investz/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/Investz/Investz.API/bin/Debug/net5.0
/Investz/Investz.API/obj
/Investz/Investz.Shared/obj
/Investz/Investz.Shared/bin/Debug
/Investz/.vs/Investz/config
