.loginCol
    float: left
    width: 50%
    height: 100vh
    box-sizing: border-box
    background-color: rgb(243, 243, 243)

#login
    text-align: center
    padding-top: 20vh

#pubImg
    width:100%
    height:100%

.mat-form-field
    display: block
    width: 35%
    margin: auto

.mat-raised-button
    margin-right: 2.5%
    margin-left: 2.5%
    width: 100px
    background-color: rgb(48, 56, 65)
    color: rgb(243, 243, 243)