<!DOCTYPE html>
<html>

<body>

<div class="row">
  <div class="loginCol" id="login">
    <img src={{logo}} class="ico"/>
    <div class="login">
        <h1>Log In</h1>
        <form [formGroup]=loginForm (ngSubmit)="login()">
          <mat-form-field>
            <input class="input"
              matInput 
              placeholder="Username"
              formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input 
              matInput 
              placeholder="Password"
              formControlName="password">
          </mat-form-field>
          <button mat-raised-button>Login</button>
          <button mat-raised-button>Register</button>
        </form>
    </div>
  </div>
  <div class="loginCol" id="pub">
    <img src={{pubPath}} id="pubImg"/>
  </div>
</div>

</body>
</html>
